# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist
dist-ssr
*.local


/backend/target
/target
target


backend/storage
backend/venv
storage
/backend/storage/*
!storage
!storage/.gitkeep

/demo_songs/personal_songs/*
!demo_songs/personal_songs/
!demo_songs/personal_songs/.gitkeep
database.db
.env
backend/.env


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
frontend/node_modules

