DATABASE_URL=storage/database.db
JWT_SECRET_KEY=your-secret-key
SMTP_HOST=smtp.gmail.com
# NOTE for any contibutor : the .env is not in .gitignore


###############################################

# replace with auctual crendentials
# SMTP_USERNAME="<otp-provider-email>"
# SMTP_PASSWORD="<otp-provider-app-password>"

###############################################
